<a href="https://colab.research.google.com/github/prashant90066/18CSE049/blob/main/assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
pip install metrics

Requirement already satisfied: metrics in /usr/local/lib/python3.6/dist-packages (0.3.3)
Requirement already satisfied: pathlib2>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from metrics) (2.3.5)
Requirement already satisfied: pathspec==0.5.5 in /usr/local/lib/python3.6/dist-packages (from metrics) (0.5.5)
Requirement already satisfied: Pygments==2.2.0 in /usr/local/lib/python3.6/dist-packages (from metrics) (2.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pathlib2>=2.3.0->metrics) (1.15.0)

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [5]:
from google.colab import files
uploaded=files.upload()

Saving diabetes.csv to diabetes.csv

In [6]:
import io
df=pd.read_csv(io.BytesIO(uploaded["diabetes.csv"]))

In [7]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [8]:
feature_cols=['Pregnancies','Glucose','BloodPressure','Insulin','BMI','DiabetesPedigreeFunction',	'Age']

In [9]:
x=df[feature_cols]
y=df.Outcome

In [10]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2, random_state=1)

In [11]:
print(x_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
663            9      145             80  ...  37.9                     0.637   40
712           10      129             62  ...  41.2                     0.441   38
161            7      102             74  ...  37.2                     0.204   45
509            8      120             78  ...  25.0                     0.409   64
305            2      120             76  ...  39.7                     0.215   29
..           ...      ...            ...  ...   ...                       ...  ...
645            2      157             74  ...  39.4                     0.134   30
715            7      187             50  ...  33.9                     0.826   34
72            13      126             90  ...  43.4                     0.583   42
235            4      171             72  ...  43.6                     0.479   26
37             9      102             76  ...  32.9                     0.665   46

[614 rows x 7 columns]

In [12]:
print(x_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
285            7      136             74  ...  26.0                     0.647   51
101            1      151             60  ...  26.1                     0.179   22
581            6      109             60  ...  25.0                     0.206   27
352            3       61             82  ...  34.4                     0.243   46
726            1      116             78  ...  36.1                     0.496   25
..           ...      ...            ...  ...   ...                       ...  ...
563            6       99             60  ...  26.9                     0.497   32
318            3      115             66  ...  38.1                     0.150   28
154            8      188             78  ...  47.9                     0.137   43
684            5      136             82  ...   0.0                     0.640   69
643            4       90              0  ...  28.0                     0.610   31

[154 rows x 7 columns]

In [13]:
clf=DecisionTreeClassifier() #object for classifier

In [14]:
clf=clf.fit(x_train,y_train)

In [15]:
y_pred=clf.predict(x_test)

In [18]:
print("Accuracy:" ,metrics.accuracy_score(y_test ,y_pred))

Accuracy: 0.7207792207792207